head, title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-align: right;
    letter-spacing: 10px;
}
h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }